<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Goldfinger</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/body.css">

    <link rel="stylesheet" href="styles/info.css">
    <link rel="stylesheet" href="styles/header.css">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <style type="text/css">

        body {
            background-image: none;
            background-color: aliceblue;
        }

        .container {
            margin-top: 40px;
        }

        .btn-primary {
            width: 100%;
        }
    </style>


    <style>
        ul {
            list-style-type: none;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
            overflow: hidden;
            background-color: #314c6e;
            border-radius: 10px;
            z-index: 10;
            position: absolute;
            width: 90%;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: #a4bfdf;
            text-align: center;
            padding: 15px 50px;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: bold
        }

        li a:hover:not(.active) {
            background-color: #101929;
        }

        .active {
            background-color: #4CAF50;
        }
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


</head>
<body>

<!--<div class="header">-->
<!--<div>-->
<!--<div class="logo">-->
<!--<img src="images/logo.png" height="70" alt="Goldfinger logo"/>-->

<!--</div>-->

<!--<div>-->
<!--<form th:action="@{/home}" method="GET">-->
<!--<input type="submit" value="Home"/>-->
<!--</form>-->


<!--</div>-->
<!--<div>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--<input type="submit" value="Logout"/>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<div class="header">
    <div>
        <ul>
            <li><a th:href="@{/home}">HOME</a></li>
            <li><a th:href="@{/spatial/showmap}">MAP</a></li>

            <li style="float:right"><a th:href="@{/logout}">LOGOUT</a></li>
        </ul>
    </div>
</div>

<br>
<br>
<br>


<div class="container">
    <div class="panel panel-primary">
        <!--<div class="panel-heading">Goldfinger</div>-->
        <div class="panel-body">

            <form name="searchSubmit" id="searchSubmit" action="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Search</label>
                            <input type="text" class="form-control" name="message" id="message"/>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label class="control-label">Start Time</label>
                            <div class='input-group date' id='startDate' name='startDate'>
                                <input id="start" name="start" type='text' class="form-control"/>
                                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label class="control-label">End Time</label>
                            <div class='input-group date' id='endDate'>
                                <input id="end" name="end" type='text' class="form-control"/>
                                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="customerSearchButton" name="customerSearchButton" type="button" class="btn btn-primary"
                       value="Submit">
            </form>
        </div>
    </div>
</div>


<table class="fresh-table" id="tableSearch">
    <thead>
    <tr>
        <th>Username</th>
        <th>IP</th>
        <th>Details</th>
        <th>Time</th>
    </tr>
    </thead>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script>


    $(document).ready(function () {
        var table = $('#tableSearch').DataTable({
            searching: false,
            columns: [

                {data: 'username'},
                {data: 'ip'},
                {data: 'details'},
                {data: 'timestamp'}

            ]
        });

    });

    $('#customerSearchButton').on("click", function () {
        var message = $("#message").val();
        var start = $("#start").val();
        var end = $("#end").val();

        var obj = {};

        if (message) {
            obj.message = message;
        }
        if (start) {
            obj.startDate = start;
        }
        if (end) {
            obj.endDate = end;
        }


        var d = {
            "message": "pesho",
            "startDate": "05-05-2019 09:57:19",
            "endDate": "05-05-2019 15:57:19"
        };


        $.ajax({
            url: "http://localhost:8081/api/audit/search/do-search",
            type: "POST",
            dataType: "text",
            contentType: "application/json",
            data: JSON.stringify(obj),

            success: function (response) {


                $('#tableSearch').DataTable().destroy();


                var table = $('#tableSearch').DataTable({

                    dom: 'Bfrtip',
                    buttons: [
                        'csv'
                    ],

                    searching: false,
                    aaData: JSON.parse(response),

                    columns: [

                        {data: 'username'},
                        {data: 'ip'},
                        {
                            data: 'details',
                            render: function (data) {

                                let text = "";

                                for (let [key, value] of Object.entries(data)) {

                                    text += key + ":" + value + ", ";
                                }

                                return text.substr(0, text.length - 2);
                                ;
                            }


                        },
                        {data: 'timestamp'}

                    ]
                });
            }
        });
    });
</script>


</body>
</html>