<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<a class="navbar-brand" th:href="@{/auditing/search}"> Back </a>

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>IP</th>
            <th>Timestamp</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obj : ${resultList}">
            <td th:text="${obj.username}">John</td>
            <td th:text="${obj.ip}">Doe</td>
            <td th:text="${obj.timestamp}">john@example.com</td>
            <td th:text="${obj.details}">john@example.com</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>