body {
    background: #151e2d;
    /*padding: 0px;*/
    margin: auto;
}

.header {
    background: #151e2d;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: inline-block;
}

.request {
    display: inline-block;
    background: #151e2d;
    height: 50px;
    width: 70%;
    /*margin: auto;*/
    padding: 0px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    overflow: auto;
    /*border-radius: 3px;*/
}

.request div {
    margin: 10px 15px;
    top: 50%; padding-left: 100px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 7px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"] + label span {
    border: 2px solid rgba(255, 255, 255, 0.8)
}

input[type="radio"]:checked + label span {
    border: 2px solid #D4E280;
    background-color: #B6CD2F;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(182, 205, 47, 0.6);
    -moz-box-shadow: 0px 0px 3px 3px rgba(182, 205, 47, 0.6);
    box-shadow: 0px 0px 3px 3px rgba(182, 205, 47, 0.6);

}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}