<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title></head>
<body>
<h1>Access Denied Page</h1>
<p>You are not authorized to access this resource.</p>
<p>
    <a th:href="@{/home}">Home</a>
</p>
</body>
</html>