<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>Admin Portal</h1>
<p>Hello to the admin portal!</p>
<p>
    <a th:href="@{/}">Home</a>
</p>
</body>
</html>