<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>


<h1>Home Page</h1>
<p>Hello <span sec:authentication="name"/>!</p>

<p sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/auditing/search}">Audit Portal</a>
</p>


<p >
    <a th:href="@{/spatial/showmap}">Map</a>
</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>