<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/vanillaSlideshow.css">
	<link rel="stylesheet" href="styles/navbar.css">
	<link rel="stylesheet" href="styles/body.css">
	<link rel="stylesheet" href="styles/logo.css">

	<title>Goldfinger</title>
</head>

<body>

	<div> <img src="images/logo.png" id="logo" alt="Goldfinger"> </div>

	<ul>
		<li><a th:href="@{/spatial/showmap}">MAP</a></li>
		<li sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/auditing/search}">AUDIT</a></li>
		<li style="float:right"><a th:href="@{/logout}">LOGOUT</a></li>
	</ul>
	<div id="vanilla-slideshow-container">

		<!-- 
		Slideshow images 
		you can also use data-src attribute and full path of image to use css background images 
	-->
		<div id="vanilla-slideshow">

			<div class="vanilla-slide">
				<img src="images/insurance1.jpg" alt="tiger">
				<!-- content here -->
			</div>

			<div class="vanilla-slide">
				<img src="images/insurance2.jpg" alt="tiger">
				<!-- content here -->
			</div>

			<div class="vanilla-slide">
				<img src="images/insurance3.jpg" alt="tiger">
				<!-- content here -->
			</div>

		</div>

		<!-- slideshow indicators -->
		<div style="z-index: -10" id="vanilla-indicators"></div>

		<!-- slideshow arrows -->
		<div style="z-index: -10" id="vanilla-slideshow-previous">
			<img src="images/arrow-previous.png" alt="slider arrow">
		</div>
		<div style="z-index: -10" id="vanilla-slideshow-next">
			<img src="images/arrow-next.png" alt="slider arrow">
		</div>

	</div>

	<script src="scripts/vanillaSlideshow.min.js"></script>
	<script>
		vanillaSlideshow.init({
			slideshow: true,
			delay: 5000,
			arrows: true,
			indicators: true,
			random: false,
			animationSpeed: '1s'
		});
	</script>

</body>

</html>