<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="icon" href="https://cdn.shopify.com/s/files/1/1061/1924/products/Beer_Emoji_large.png?v=1480481062">


    <link rel="stylesheet" href="/styles/main.css"/>

    <style>
        body {
            background-image: none;
            background-color: whitesmoke;
        }

        .bg-primary {
            background-color: orange !important;
        }

        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: 0.75rem;
        }

        .login,
        .image {
            min-height: 100vh;
        }

        .bg-image {
            background-image: url('https://ish.messefrankfurt.com/content/dam/messefrankfurt-redaktion/ish/2019/facts-figures/teaser-brand.jpg');
            background-size: cover;
            background-position: center;
        }

        .login-heading {
            font-weight: 300;
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
            border-radius: 2rem;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

        .form-label-group > input,
        .form-label-group > label {
            padding: var(--input-padding-y) var(--input-padding-x);
            height: auto;
            border-radius: 2rem;
        }

        .form-label-group > label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            /* Override default `<label>` margin */
            line-height: 1.5;
            color: #495057;
            cursor: text;
            /* Match the input under the label */
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }

        .form-label-group input::-webkit-input-placeholder {
            color: transparent;
        }

        .form-label-group input:-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-moz-placeholder {
            color: transparent;
        }

        .form-label-group input::placeholder {
            color: transparent;
        }

        .form-label-group input:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
            padding-bottom: calc(var(--input-padding-y) / 3);
        }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y) / 3);
        }
    </style>

    <style>
        .error {
            color: red;
        }
    </style>

    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>



<!--<form action="#" th:action="@{/register}" th:object="${user}" method="post">-->
    <!--<p>-->
        <!--User name: <input type="text" th:field="*{username}"/>-->
    <!--</p>-->
    <!--<p>-->
        <!--Password: <input type="password" th:field="*{password}"/>-->
    <!--</p>-->
    <!--<p>-->
        <!--Confirm Password: <input type="password" th:field="*{passwordConfirmation}"/>-->
    <!--</p>-->
    <!--<input type="submit" value="Register"/>-->
<!--</form>-->


<div class="container-fluid">
    <div class="row no-gutter">

        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Create new account</h3>
                            <i th:if="${error != null}" th:text="${error}" class="error"/>
                            <form th:action="@{/register}" th:object="${user}"  method="post">
                                <div class="form-label-group">
                                    <input type="text" th:field="*{username}" id="inputUsername" class="form-control" placeholder="Username"
                                           name="username">
                                    <label for="inputUsername">Username</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" th:field="*{password}" id="inputPassword" class="form-control"
                                           placeholder="Password" name="password">
                                    <label for="inputPassword">Password</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" th:field="*{passwordConfirmation}" id="confirmPassword" class="form-control"
                                           placeholder="Password" name="password">
                                    <label for="inputPassword">Password</label>
                                </div>

                                <input class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                       type="submit"/>


                                <p>
                                    Already have an account? <a th:href="@{/login}">Login</a>
                                </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>

    </div>
</div>

</body>
</html>
