#mapid {
    height: 90vh;
    width: auto;
    margin: auto;
}

#data-type-form {
    font-family: 'Roboto', sans-serif;
    margin-left: 610px;
    margin-top: 40px;
}

 .leaflet-container.crosshair-cursor-enabled {
     cursor: crosshair;
 }