.info {
    padding: 6px 8px;
    font-family: 'Roboto', sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: blue;
}

.country {
    text-transform: capitalize;
}