ul {
  list-style-type: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #314c6e;
  border-radius: 10px;
  z-index: 10;
  position: absolute;
  width: 90%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #a4bfdf;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold
}

li a:hover:not(.active) {
  background-color: #101929;
}

.active {
  background-color: #4CAF50;
}