/*
 vanillaSlideshow v0.1
 (c) Dimitri Mikadze
 https://github.com/DimitriMikadze/vanilla-slideshow
 License: MIT
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

html, body { 
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background-color: #333333;
	font-family: 'PT Sans', sans-serif;
}

#vanilla-slideshow-container { 
	width: 100%; 
	height: 100%; 
	position: relative; 
	text-align: center;
}

#vanilla-slideshow .vanilla-slide { 
	width: 100%; 
	height: 100%; 
	background-size: cover; 
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0;
}

#vanilla-slideshow .vanilla-slide.vanilla-active { 
    opacity: 1;
}

#vanilla-slideshow .vanilla-slide img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  #vanilla-slideshow .vanilla-slide img {
    left: 50%;
    margin-left: -512px; 
  }
}

/* Arrows */

#vanilla-slideshow-previous {
	position: absolute;
	left: 10px;
	top: 40%;
	width: 48px;
	height: 50px;
	background-position: 0 100%;
	cursor: pointer; 
	opacity: 0.7;
	z-index: -1; 
	display: none;
}

#vanilla-slideshow-next {
	position: absolute;
	right: 10px;
	top: 40%;
	width: 48px;
	height: 50px;
	background-position: 100% 100%;
	cursor: pointer; 	
	opacity: 0.7;
	z-index: 5; 
	display: none;
}

#vanilla-slideshow-previous:hover, #vanilla-slideshow-next:hover {
	opacity: 1;
}

#vanilla-indicators {
	display: inline-block;
	z-index: 5;
	position: absolute;
	bottom: 50px;
}

.vanilla-indicators {
	box-shadow: 0 0 10px #333333;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

.vanilla-indicators.vanilla-active {
	background-color: #ffffff;
}
