#mapid {
    height: 100vh;
    width: auto;
    margin: auto;
}

#data-type-form {
    font-family: 'Roboto', sans-serif;
    margin-left: 610px;
    margin-top: 40px;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair;
}


nav ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
}

nav ul {
    background: #314c6e;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    list-style: none;
    position: absolute;
    display: inline-table;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 15px 40px;
    color: #a4bfdf;
    text-decoration: none;
}

nav ul li option {
    display: block;
    padding: 15px 40px;
    color: #a4bfdf;
    text-decoration: none;
}

nav ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}

nav ul ul li a:hover {
    background: #4b545f;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

/* -------------------------- */
select {
    background: #314c6e;;
    border-radius: 0px;
    padding: 0;
    position: relative;
    top: 100%;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    padding: 15px 40px;
    color: #a4bfdf;

    border: none;
    font-size: 16px;
    text-transform: capitalize;
}

#requestType select {
    display: none; /*hide original SELECT element: */
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
    border: none;
}

select:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}